BasedOnStyle: LLVM
BraceWrapping:
  AfterFunction: true
  AfterClass: true
  AfterEnum: true
  AfterStruct: true
  AfterNamespace: true
  AfterControlStatement: true
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false
ColumnLimit: 120
IndentWidth: 4
BreakBeforeBraces: Allman
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: None
UseTab: Never
BreakAfterReturnType: ExceptShortType
