BasedOnStyle: LLVM
BraceWrapping:
  AfterFunction: false
  AfterClass: false
  AfterEnum: false
  AfterStruct: false
  AfterNamespace: false
  AfterControlStatement: false
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false
ColumnLimit: 120
IndentWidth: 4
BreakBeforeBraces: Allman
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: None
UseTab: Never
BreakAfterReturnType: ExceptShortType
